.chapter-page {
    width: 100%;
    background-color: black;

}

.background {
    background-color: #D1DCDF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper {
    width: 70%;
    min-height: 90vh;
    background-color: #E3EEF1;
    padding: 40px 80px;
    margin: 5vh 20vw;
}